# Resend API Configuration
# Get your key at: https://resend.com
RESEND_API_KEY=re_NpeUtwGo_9rJ2mi31Myy2cfXbNHyaoPhX

# The verified domain email to send FROM (e.g., contact@yourdomain.com)
# Note: You must verify your domain in Resend dashboard first.
RESEND_FROM_EMAIL=contact@hiteshportfolio.dev

# The email address that will RECEIVE the messages
RESEND_TO_EMAIL=Hitesh.yar00@gmail.com
